[submodule ".registry"]
	path = .registry
	url = https://github.com/csoneson/universe
	shallow = true
	branch = HEAD
[submodule "dreval"]
	path = dreval
	url = https://github.com/csoneson/dreval
	shallow = true
	registered = true
