[submodule ".registry"]
	path = .registry
	url = https://github.com/csoneson/universe
	branch = HEAD
[submodule "ConfoundingExplorer"]
	path = ConfoundingExplorer
	url = https://github.com/csoneson/ConfoundingExplorer
[submodule "dreval"]
	path = dreval
	url = https://github.com/csoneson/dreval
[submodule "jcc"]
	path = jcc
	url = https://github.com/csoneson/jcc
